body {
  font-family: Arial, sans-serif;
  background-color: #fefcf3;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  background: #fff8e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.icon img {
  width: 50px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}


input[type="number"], input[type="text"] {
  width: calc(100% - 20px);
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  appearance: none;
}

/* Remove number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  width: calc(30% - 20px);
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  appearance: none;
  text-align: center;
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#calculate-btn {
  background-color: #4caf50;
  color: white;
}

#reset-btn {
  background-color: #f44336;
  color: white;
}

#add-to-list {
  margin-top: 10px;
  background-color: #2196f3;
  color: white;
}

#result {
  background: #f1f1f1;
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

ul li {
  margin: 5px 0;
}
